# Python cache
__pycache__/
_pycache_/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Build / distribution
build/
dist/
*.egg-info/

# Exported videos / media
exports/
*.mp4
*.avi
*.mov
*.mkv
*.flv

# MoviePy temp files
*~temp-*
*.temp.*
*.tmp

# Misc
old stuff/
.DS_Store
Thumbs.db
